<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<nav th:replace="fragments :: navigation_home"></nav>

<br/>
<h1 th:replace="fragments :: title">Default Title</h1>
<div class="container">

    <p th:unless="${products}">no product yet recorded in our system !</p>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Price</th>
<!--            <th>Pictures</th>-->
        </tr>
        </thead>

        <tr th:each="product : ${products}">
                <td><a th:href="'/product/id='+${product.id}" th:text="${product.id}"></a></td>
                <td th:text="${product.name}"></td>
                <td th:text="${product.quantity}"></td>
                <td th:text="${product.description}"></td>
                <td th:text="${product.price}"></td>
        </tr>
    </table>
</div>
<nav th:replace="fragments :: navigation_task"></nav>
</body>
</html>