<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation_home"></nav>
<div class="container">
    <form method="POST" style="max-width:600px;" th:object="${warehouse}" action="create">
        <div class="form-group">
            <label th:for="name">Name</label>
            <input class ="form-control" th:field="*{name}"/>
            <span  th:errors="*{name}" class ="error"></span>
        </div>

        <div th:object="${address}" th:field="*{address}">

        <div class="form-group">
            <label th:for="email">Email</label>
            <input class ="form-control" th:field="*{email}" name="email"/>
            <span th:errors="*{email}"  class ="error"></span>
        </div>
        <div class="form-group">
            <label th:for="password">Password</label>
            <input class ="form-control" th:field="*{password}" name="password"/>
            <span class ="error" th:errors="*{password}"></span>
        </div>
        <div class="form-group">
            <label th:for="city">City</label>
            <input class ="form-control" th:field="*{city}" name="city"/>
            <span class ="error" th:errors="*{city}"></span>
        </div>
        <div class="form-group">
            <label th:for="country">Country</label>
            <input class ="form-control" th:field="*{country}" name="country"/>
            <span class ="error" th:errors="*{country}"></span>
        </div>
        <div class="form-group">
            <label th:for="fax">Fax</label>
            <input class ="form-control" th:field="*{fax}" name="fax"/>
            <span class ="error" th:errors="*{fax}"></span>
        </div>
        <div class="form-group">
            <label th:for="phone">Phone</label>
            <input class ="form-control" th:field="*{phone}" name="phone"/>
            <span class ="error" th:errors="*{phone}"></span>
        </div>
        <div class="form-group">
            <label th:for="street">Street</label>
            <input class ="form-control" th:field="*{street}" name="street"/>
            <span class ="error" th:errors="*{street}"></span>
        </div>
        <div class="form-group">
            <label th:for="zipCode">ZipCode</label>
            <input class ="form-control" th:field="*{zipCode}" name="zipCode"/>
            <span class ="error" th:errors="*{zipCode}"></span>
        </div>
        </div>
        <input type="submit"  class="btn btn-primary" value="Create new warehouse"/>
    </form>
    <nav th:replace="fragments :: navigation_new"></nav>
</div>
</body>
</html>