<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation_home"></nav>

<p th:unless="${warehouses}">no warehouse yet recorded in our system !</p>
<h1> List of the warehouses</h1>
    <div class="container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
                <th>Country</th>
                <th>Fax</th>
                <th>Phone</th>
                <th>Street</th>
                <th>ZipCode</th>
                <th>Products</th>
                <th>Customers</th>
                <th>Vendors</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each=" warehouse : ${warehouses}">

            <td th:text="${warehouse.id}"></td>
            <td th:text="${warehouse.name}"></td>
            <td th:text="${warehouse.address.email}"></td>
            <td th:text="${warehouse.address.city}"></td>
            <td th:text="${warehouse.address.country}"></td>
            <td th:text="${warehouse.address.fax}"></td>
            <td th:text="${warehouse.address.phone}"></td>
            <td th:text="${warehouse.address.street}"></td>
            <td th:text="${warehouse.address.zipCode}"></td>
                <td>
                    <strong th:each="product:${warehouse.products}">
                        <strong>|</strong>
                        <a th:href="'/product/id='+${product.id}" th:text="${product.id}"></a>
                    </strong>
                    <strong>|</strong>
                </td>
                <td>
                    <strong th:each="vendor:${warehouse.listVendors}">
                        <strong>|</strong>
                        <a th:href="'/vendor/id='+${vendor.id}" th:text="${vendor.id}"></a>
                    </strong>
                    <strong>|</strong>
                </td>
                <td>
                    <strong th:each="customer:${warehouse.customers}">
                        <strong>|</strong>
                        <a th:href="'/customer/id='+${customer.id}" th:text="${customer.id}"></a>
                    </strong>
                    <strong>|</strong>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>